<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
  
        <p>
          Search:
          <input ng-model="$ctrl.query" />
        </p>
  
        <p>
          Sort by:
          <select ng-model="$ctrl.orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </p>
  
      </div>
      <div class="col-md-10">
        <!--Body content-->
  
        <table>
          <tr ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.registered | datetime }}</td>
            <td>{{user.email}}</td>
            <td>{{user.balance | customcurrency}}</td>
          </tr>
        </table>
      </div>

     
    </div>
  </div>
  